server {
    listen 80;
    server_name websuli.org www.websuli.org; # Cseréld le a saját domainedre

    # Növelt fájlméret limit a nagy feltöltésekhez (pl. videók, PDF-ek)
    client_max_body_size 150M;

    location / {
        proxy_pass http://localhost:5000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
        
        # Valós IP címek továbbítása
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # Statikus fájlok gyorsítótárazása (opcionális, mert az Express is kezeli)
    # location /assets/ {
    #     proxy_pass http://localhost:5000;
    #     expires 1y;
    #     access_log off;
    # }
}
